<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  id="com.commontime.cordova.insomnia"
  version="0.0.5">

  <name>No Sleep plugin</name>

  <js-module src="www/insomnia.js" name="Insomnia">
    <clobbers target="plugins.insomnia" />
  </js-module>

  <platform name="android">

    <config-file target="config.xml" parent="/*">
      <feature name="Insomnia">
        <param name="android-package" value="com.commontime.cordova.plugins.insomnia.Insomnia" />
        <param name="onload" value="true"/>
      </feature>
    </config-file>
      
    <preference name="WAKELOCK" default="false" />
    <preference name="BATTOP" default="false" />
    <preference name="FGSERVICEENABLED" default="false" />
    <preference name="FGSERVICEMAIN" default="Foreground Service" />
    <preference name="FGSERVICESUB" default="Preventing App Stopping" />
      
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <meta-data
        android:name="acquireWakeLockOnStart"
        android:value="$WAKELOCK" />
        <meta-data
        android:name="requestStopBatteryOptimizationOnStartup"
        android:value="$BATTOP" />
        <meta-data
        android:name="useForegroundService"
        android:value="$FGSERVICEENABLED" />
        <meta-data
        android:name="fgServiceMainString"
        android:value="$FGSERVICEMAIN" />
        <meta-data
        android:name="fgServiceSubString"
        android:value="$FGSERVICESUB" />

    </config-file>

    <framework src="gradle/build-extras.gradle" custom="true" type="gradleReference" />
    <framework src="library-projects/android/insomnia" custom="true" />
      
  </platform>
    
</plugin>
